<!DOCTYPE html>

<html lang="cs">
<head>
    <title>SU trička</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="~/css/bootstrap.css" asp-append-version="true" rel="stylesheet"/>
    <link href="~/css/font-awesome.css" asp-append-version="true" rel="stylesheet"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>

<div class="container">
    <header class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="~/images/logo_horizontalni.svg" height="64" alt="logo"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="/#damska" class="nav-link">Dámská trička</a>
            </li>
            <li>
                <a href="/#panska" class="nav-link">Pánská trička</a>
            </li>
            <li>
        </ul>

        @if (true.Equals(ViewData["ShowCart"]))
        {
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-primary text-white cart-btn">
                    <i class="fa fa-shopping-cart me-2"></i><span class="cart-text">0</span>
                </button>
            </div>
        }
    </header>
</div>

<div class="container">
    @RenderBody()
</div>

<script src="~/js/popper.min.js" asp-append-version="true"></script>
<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
