@page
@model SUShirts.Pages.Index

<h2 id="damska">D치msk치</h2>
<partial name="Partials/_ShirtListPartial" model="Model.WomanShirts"/>

<h2 id="panska">P치nsk치</h2>
<partial name="Partials/_ShirtListPartial" model="Model.ManShirts"/>

@section Scripts
{
    <script>
        const makeReservationUrl = "@Url.Page("MakeReservation")";
    </script>
    
    <script src="~/js/shop.js"></script>
}
