@page
@model SUShirts.Pages.Index

<h1 id="damska">D치msk치</h1>
<partial name="Partials/_ShirtListPartial" model="Model.WomanShirts"/>

<h1 id="panska">P치nsk치</h1>
<partial name="Partials/_ShirtListPartial" model="Model.ManShirts"/>
